*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #434455;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header container */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.header-logo {
  display: flex;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio-black {
  color: var(--NAVY-BLUE, #2e2f42);
}

.header-list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.header-list-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.header-list-link:focus,
.header-list-link:hover {
  color: var(--OCEAN, #404bbf);
}

.header-list-link:active {
  color: var(--OCEAN, #404bbf);
  text-decoration: underline;
}

.header-nav {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;

  padding: 24px 0;
}

.header-nav a {
  text-decoration: none;
}

.header-adress ul {
  display: flex;
  align-items: flex-end;
  gap: 40px;
}

.header-adress-list {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
}

.header-adress-list:focus,
.header-adress-list:hover {
  color: var(--OCEAN, #404bbf);
}

/* Hero container */

.hero {
  background-color: var(--NAVY-BLUE, #2e2f42);
  color: var(--WHITE, #fff);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;

  padding: 188px 0;
}

.hero-title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;

  max-width: 496px;
  height: auto;
  margin-bottom: 64px;
}

.hero-button {
  background-color: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  display: block;
  align-items: center;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--OCEAN, #404bbf);
}

/* Features container */

.features .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.features {
  padding: 120px 0;
}

.features-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-small-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  display: flex;
  margin-bottom: 8px;
}

.features-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;

  display: flex;
}

/* Team container */

.team {
  background-color: var(--CLOUD, #f4f4fd);
  padding: 120px 0;
}

.team .container {
  display: flex;
  flex-direction: column;
}

.team-pics {
  display: flex;
  gap: 24px;
  /* width: calc((100% - 72px) / 4); */
}

.team-cards {
  display: flex;
  gap: 24px;
}

.team-img {
  gap: 24px;
  /* margin-bottom: 32px; */
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  display: block;
  margin-bottom: 72px;
}

.team-list-member {
  background-color: #ffffff;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.member-card {
  padding: 32px 0;
  width: 264px;
}

.team-small-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  display: flex;
  margin-bottom: 8px;
  justify-content: center;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;

  display: flex;
  margin-bottom: 32px;
  justify-content: center;
  text-align: center;
}

/* Portfolio container */

.portfolio .container {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  display: block;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  justify-content: space-between;
}

.portfolio-list-item {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  gap: 24px;
}

.portfolio-list-item:nth-child(-n + 3) {
  margin-bottom: 48px;
}

.portfolio-list-item:nth-child(n + 4):nth-child(-n + 6) {
  margin-bottom: 120px;
}

/* .portfolio-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}

.portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 120px;
} */

.portfolio-img {
  padding-bottom: 32px;
}

.portfolio-small-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  padding-left: 16px;
  padding-bottom: 8px;
  justify-content: flex-start;
}

.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;

  padding-bottom: 32px;
  padding-left: 16px;
}

/* Footer container */

.footer {
  background-color: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0;
}

.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;

  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio-white {
  color: var(--CLOUD, #f4f4fd);
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;

  max-width: 264px;
}
